projet/cineexplorer/data/csv/

projet/cineexplorer/data/imdb.db
cineexplorer/data/mongo/
cineexplorer/data/imdb.db
cineexplorer/scripts/**/data/mongo/

projet/cineexplorer/data/mongo/
*.ipynb_checkpoints

cineexplorer/data/csv/
projet/cineexplorer/data/csv/

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
